<!-- subject="Återställ ditt lösenord" -->
<h1>Återställ lösenord</h1>
<p>Du har valt att återställa ditt lösenord. Följ länken nedan för att fortsätta
<p>
<p><a href="<%= `${baseUrl.spa}/reset-password?token=${token}` %>"><%= `${baseUrl.spa}/reset-password?token=${token}` %></a>