$fa-font-path: '../../../node_modules/@fortawesome/fontawesome-free/webfonts';
$font-family-sans-serif: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif ;
$theme-colors: (
  "primary": #26a69a,
  "warning": #b00020,
  "danger": #b00020
);
